{% extends "::moteur.html.twig" %}

{% block body %}
<div>
<h1>Rechercher un produit déjà visité</h1>
<form method="get" action="{{ path('moteur_recommendation_recherche_liste', {'requete': 'requete'}) }}">
	<input type="search" name="requete">
</form>
</div>

<div>
<h1>Produits pouvant vous intéresser</h1>

	<table>
		<tr>
			<th>Titre</th>
			<th>Auteur</th>
			<th>Score</th>
			<th>Lien</th>
		</tr>
		{% for produit in resultats %}
		<tr>
			<td>{{ produit.titre }}</td>
			<td>{{ produit.auteur }}</td>
			<td>{{ produit.score }}</td>
			<td><a href="http://localhost/moteur_emotionnel/path/web/app_dev.php/produits/affiche/{{ produit.produit_id }}">Lien</a></td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}