<!DOCTYPE html>
<html>
    <head>
        
       {% block head %}

        <meta http-equiv="content-type" content="text/html"; charset="UTF-8">
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- Le styles -->
        <link href="{{ asset('bundles/user/css/bootstrap.css') }}" rel="stylesheet">
        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
        </style>
        <link href="{{ asset('bundles/user/css/bootstrap-responsive.css') }}" rel="stylesheet">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <!-- Commented out - update these with your own files -->
        <!-- 
          <link rel="shortcut icon" href="ico/favicon.ico">
          <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
          <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
          <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
          <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png"> 
        -->
    {% endblock %}
    </head>
    <body>
        {% block navbar %}
                 <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Recommandation Profil</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="{{ path('moteur_recommendation_homepage', {'page':1,'nombre':10} ) }}">Accueil</a></li>
              {% if  app.session.get('connexion') %}
	              <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                      Utilisateur
	                      <b class="caret"></b>
	                </a>
	                <ul class="dropdown-menu">
	                  
	                  <li><a href="{{ path('moteur_utilisateur_liste', {'page':1,'nombre':10}) }}">Liste des utilisateurs</a></li>
	                  <li><a href="{{ path('moteur_interet_liste') }}">Liste des centres d'intérêts</a></li>
	                </ul>
	              </li><!-- dropdown -->
              {% endif %}
              {% if not app.session.get('connexion') %}
              	<li><a href="{{ path('moteur_utilisateur_connecte') }}">Connexion</a></li>
              {% endif %}
            </ul><!-- /.nav -->
          </div><!--/.nav-collapse -->
        </div><!-- /.container -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->
        {% endblock %}
        
        
        <div class="container">
			<div class="row">
                            {% if app.session.get('connexion') %}
				<div class="span3">
					<h2>Chercher un produit déjà visité</h2>
					<form method="post" action="{{ path('search') }}">
						<input type="search" name="requete">
						<input type="submit">
					</form>
				</div>
                            {% endif %}
        {% block body %}{% endblock %}
        
        	</div>
        </div>
        
        <!-- Le javascript
    ================================================== -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script src="{{ asset('bundles/user/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/user/js/bootstrap.js') }}"></script>
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 4000
        });
      });
    </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
