{% extends "::base.html.twig" %}

{% block body %}
   
    <div class="container" id="content">
        
        <div class="row">
	        <div class="span4">
	        	<img src="{{ book[0]['Image'] }}"/>
	        </div>
	        <div class="span8">
	        	<h1 style="margin-top:10px;"> {{ book[0]['Titre'] }}</h1> 
		        <h3 style="margin-top:10px;"> {{ book[0]['SousTitre'] }}</h3> 
		        
		        <p style="font-size: 18px;">
		        	{{ book[0]['Description'] }}
		        </p>
		        
		        <div class="notation_telechargement row">
		        	<div class="span4">
		        		<a href="{{ book[0]['Lien'] }}" target="_blank" id="download"  style="font-size: 18px;">
		        			<img style="height: 40px;" src="{{ asset('bundles/user/images/download.png') }}" alt="Telecharger" title="Telecharger le livre" />
		        			Telecharger le livre
		        		</a>
		        	</div>
		        	<div class="basic span4" id="notation" data-average="2" data-id="{{ book[0]['Id'] }}"></div>
		        	
		     	   <!-- in this exemple, 12 is the average and 1 is the id of the line to update in DB -->
		        	
		        </div>
	        </div>
        </div>
        

     
        
    </div>
      <div id="footer_cookies" style="display: none"> En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de nos cookies afin de vous offrir une meilleure utilisation de ce site Internet.</div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->

    <script src="{{ asset('bundles/user/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/user/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/user/js/jRating.jquery.js')}}"></script>
    <script src="{{ asset('bundles/user/js/gestion.js') }}"></script>
    <script type="text/javascript">
$(document).ready(function(){
     var score = 0;
       
       $("#notation").css("display","none");
       
       $("#download").click(function(){
            score = 6;
            $("#notation").css('display','block');
       });
 
      // get the clicked rate !
      $(".basic").jRating({
        onClick : function(element,rate) {
         alert(rate);
        }
      });
});
</script>
{% endblock %}
