{% extends "::base.html.twig" %}

{% block body %}
   
    <div class="container" id="content">

      
      <div id="this-carousel-id" class="carousel slide">
      	<h1>Produits à la une</h1>
        <div class="carousel-inner">
            {% for book in books %}
	            {% if loop.first %}
	                <div class="item active">
	            {% else %}
	                <div class="item">
	            {% endif %}
			            <a href="{{path('moteur_produit_page',{'id': book['id'] }) }}">
			            	<img  src="{{ book['image'] }}" alt="{{ book['id'] }}" style =" display: block; margin-left: auto;margin-right: auto;width:300px;height:360px;  " />
			            </a>
			            <div class="carousel-caption">
			                <p style="text-align:center;font-size: 20px;" ><a  href="{{path('moteur_produit_page',{'id': book['id'] }) }}">{{ book['titre']|e }}</a></p>
			             	<p style="text-align:center;font-size: 14px;">{% if book['sous_titre'] is not null %}  {{ book['sous_titre']|e }} {% endif %}</p>
					             </div>
							</div>
            {% endfor %}
          
        </div><!-- .carousel-inner -->
        <!--  next and previous controls here
              href values must reference the id for this carousel -->
          <a class="carousel-control left" href="#this-carousel-id" data-slide="prev"><</a>
          <a class="carousel-control right" href="#this-carousel-id" data-slide="next">></a>
      </div><!-- .carousel -->
      <!-- end carousel -->
      
      {% if recommandation_book != null %}
          
          <h2>Ces articles pourraient vous intéresser : </h2>
          <div class="media">
              {% for book in recommandation_book %}
             <div class="media-box">
             
            <a class="media-left media-middle" href="{{path('moteur_produit_page',{'id': book['id'] }) }}">
              <img width="200px" height="231px" src="{{ book['image'] }}" alt="{{ book['id'] }}">
            </a>
            <div class="media-body">
              <h4 class="media-heading">{{ book['titre']|e }}</h4>
              {% if book['sous_titre'] is not null %} {{ book['sous_titre']|e }} {% endif %} 
            </div>
            </div>
             {% endfor %} 
          </div>
          
      {% endif %}
      
      {% if produits_profil != null %}
      	<div class="media">
            
            <h2>Produits que nous vous recommandons</h2>		
			{% for produit in produits_profil %}  
             <div class="media-box2">
             <div style="position: absolute; color: white; background-color: darkgrey; padding: 3px; font-size: 16px;">
				Ranking : <span style="color: black; font-weight: bold;">{{ produit.score }}</span>
              </div>
            <a href="{{ path('moteur_produit_page', {'id': produit.produit_id}) }}">
              <img width="200px" height="231px" src="{{ produit.image }}" alt="{{ produit.produit_id }}">
            </a>
            <div class="media-body">
              <h4  style="text-align:center;" class="media-heading">{{ produit.titre }}</h4>
              {% if produit.auteur  is not null %}<p style="text-align:center;"> {{ produit.auteur }} </p> {% endif %} 
              
            </div>
            </div>
             {% endfor %}					
	</div>
      {% endif %}
      
      {% if flag == false  %}
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        
		        <h4 class="modal-title" id="exampleModalLabel">Identification </h4>
		      </div>
		      <div class="modal-body">
		        <form action="{{ path('user_homepage') }}" method="post" enctype="multipart/form-data">
		          <div class="form-group">
		            <label for="nom" class="control-label">Nom :</label>
		            <input name="nom" type="text" class="form-control" id="recipient-name" placeholder="Entrez votre nom" required>
		          </div>
		          <div class="form-group">
		            <label for="prenom" class="control-label">Prenom:</label>
		            <input name="prenom" type="text" class="form-control" id="recipient-name" placeholder="Entrez votre prenom" required>
		          </div>
		          <div class="form-group">
		            <label for="age" class="control-label">Age :</label>
		            <input name="age" type="number" class="form-control" id="recipient-name" required>
		          </div>
		          <div class="form-group">
		            <label for="ville" class="control-label">Ville :</label>
		            <input name="ville" type="text" class="form-control" id="recipient-name"  placeholder="Entrez votre ville">
		          </div>
		          <div class="form-group">
		            <label for="description" class="control-label">Description :</label>
		            <textarea name="description" class="form-control" id="message-text" placeholder="Entrez votre description" ></textarea>
		          </div>
		           
		        
		        <button type="submit" class="btn btn-primary">Valider</button>
		          
		        </form>
		      
		       </div>
		      
		    </div>
		  </div>
		</div>
     {% endif %}
      <div id="footer_cookies" style="display: none"> En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de nos cookies afin de vous offrir une meilleure utilisation de ce site Internet.</div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script src="{{ asset('bundles/user/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/user/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/user/js/gestion.js') }}"></script>
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 4000
        });
       {% if flag == false  %}
       $('#myModal').modal({
            keyboard: false,
            hide: false,
            backdrop : 'static'
        });
       {% endif %}
      });
    </script>

   
{% endblock %}
