{% extends "::base.html.twig" %}

{% block body %}
   
    <div class="container">

      <h3> {{ nb_books }} Produits trouvés : </h3>
      <div id="this-carousel-id" class="carousel slide">
        <div class="carousel-inner">
            
                    
            
                    {% for book in books %}
            {% if loop.first %}
                <div class="item active">
            {% else %}
                 <div class="item">
            {% endif %}
                         <a href="/book/{{ book['ID'] }}">  <img src="{{ book['Image'] }}" alt="{{ book['ID'] }}" style =" display: block; margin-left: auto;margin-right: auto;" />
            </a>
            <div class="carousel-caption">
              <p>{{ book['Title']|e }}</p>
              <p><a href="">{% if book['SubTitle'] is defined %} {{ book['SubTitle']|e }} {% endif %}</a></p>
            </div>
          </div>
                    {% endfor %}
          
        </div><!-- .carousel-inner -->
        <!--  next and previous controls here
              href values must reference the id for this carousel -->
          <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">‹</a>
          <a class="carousel-control right" href="#this-carousel-id" data-slide="next">›</a>
      </div><!-- .carousel -->
      <!-- end carousel -->
      
      
 
      <div id="footer_cookies" style="display: none"> En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de nos cookies afin de vous offrir une meilleure utilisation de ce site Internet.</div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script src="{{ asset('bundles/user/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/user/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/user/js/gestion.js') }}"></script>
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 4000
        });
      });
    </script>

   
{% endblock %}
