{% extends "::base.html.twig" %}

{% block body %}
   
    <div class="container" id="content">

      <h3 style="font-family:Dosis;font-size:24px"> {{ nb_produits }} Produits trouvés : </h3>
      
            
                    
            
					{% for produit in produits %}
                            <div class="media-box" style="padding-bottom: 10px;padding-top: 10px;">
                            	<a class="media-left"  href="{{ path('moteur_produit_page', {'id': produit.produit_id}) }}" >
                                     <img width="200px" height="262px"  src="{{ produit.image }}" alt="{{ produit.produit_id }}"  />
                                </a>
                                <div class="media-body">
                                  <h4 style="text-align:center;" class="media-heading">{{ produit.titre|e }}</h4>
                                  {% if produit.sous_titre is defined %} {{ produit.sous_titre|e }} {% endif %}
                                </div>
                            </div>
                    {% endfor %}
          
       
      
      
 
      <div id="footer_cookies" style="display: none"> En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de nos cookies afin de vous offrir une meilleure utilisation de ce site Internet.</div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script src="{{ asset('bundles/user/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/user/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/user/js/gestion.js') }}"></script>
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 4000
        });
      });
    </script>

   
{% endblock %}
