{% extends "::moteur.html.twig" %}

{% block body %}
<div class="span9">
	<h1>Affichage de l'utilisateur</h1>
	
	<table>
	  <tr>
	    <th>Colonne</th>
	    <th>Valeur</th>
	  </tr>
	  <tr>
	    <td>ID</td>
	    <td>{{ utilisateur.id }}</td>
	  </tr>
	  <tr>
	    <td>Nom</td>
	    <td>{{ utilisateur.nom }}</td>
	  </tr>
	  <tr>
	    <td>Prénom</td>
	    <td>{{ utilisateur.prenom }}</td>
	  </tr>
	  <tr>
	    <td>Mail</td>
	    <td>{{ utilisateur.mail }}</td>
	  </tr>
	  <tr>
	    <td>Age</td>
	    <td>{{ utilisateur.age }}</td>
	  </tr>
	  <tr>
	    <td>Ville renseignée</td>
	    <td>{{ utilisateur.ville }}</td>
	  </tr>
	  <tr>
	    <td>Description</td>
	    <td>{{ utilisateur.description }}</td>
	  </tr>
	  <tr>
	    <td>IP : Pays</td>
	    <td>{{ ip.pays }}</td>
	  </tr>
	  <tr>
	    <td>IP : Région</td>
	    <td>{{ ip.departement }}</td>
	  </tr>
	  <tr>
	    <td>IP : Ville</td>
	    <td>{{ ip.ville }}</td>
	  </tr>
	</table>
	
		<table>
		  <tr>
		    <th>Interet</th>
		    <th>Valeur</th>
		  </tr>
			{% for interet in interets %}
			  <tr>
			    <td>{{ interet.0.nom }}</td>
			    <td>{{ interet.1 }}</td>
			  </tr>
			{% endfor %}
		</table>
</div>
{% endblock %}
