{% extends "::moteur.html.twig" %}

{% block body %}
    
    {% if error  is defined %}
        <h3> {{ error }}</h3> 
    {% else %}
<div class="row">
	<div class="span6">
		<h1>{{ produit.titre }}</h1>
		<p>{{ produit.description }}</p>
	</div>
	<div class="span3">
		<div class="row">
			<h2>Auteur</h2>
			{{ produit.auteur }}
		</div>
		<div class="row">
			<h2>Informations</h2>
			Ce produit a été visiter {{ visites }} fois
			<br>
			{% if achat %}
				Vous avez téléchargé ce produit
				{% if not note %}
					<div class="row">
						<form method="post" action="{{ path('moteur_produit_note', {'id_produit':produit.id, 'id_utilisateur':utilisateur}) }}">
							<label class="span1">Noter</label>
							<input class="span2" type="number" max="10" min="0" name="note"/>
						</form>
					</div>
				{% endif %}
				{% if note %}
					<br>Note du produit : {{ note }}
				{% endif %}
			{% endif %}
			
			{% if not achat %}
				<a href="http://localhost/moteur_emotionnel/path/web/app_dev.php/produit/achat/{{ produit.id }}/{{ utilisateur }}">
					Acheter le produit
				</a>
			{% endif %}
		</div>
	</div>
</div>
                        {% endif %}
{% endblock %}
