{% extends "::base.html.twig" %}

{% block body %}
    
    {% if error  is defined %}
        <h3> {{ error }}</h3> 
    {% else %}
<div class="row" id="content">
	<div class="span6">
		<h1>{{ produit.titre }}</h1>
		<img src="{{ produit.image }}">
		<p>{{ produit.description }}</p>
	</div>
	<div class="span3">
		<div class="row">
			<h2>Auteur</h2>
			{{ produit.auteur }}
		</div>
		<div class="row">
			<h2>Informations</h2>
			Ce produit a été visité {{ produit.visites }} fois
		</div>
	</div>
</div>
                        {% endif %}
{% endblock %}
