{% extends "::base.html.twig" %}

{% block body %}
<div class="span9" id="content">


             <div class="panel panel-default">
                 <h3>  {{ nb_produits }} Produits  </h3>               
	             <div style="margin-top: 50px;"  class="panel-heading">
	             	<h1>Liste des Produits les plus Consultés : </h1>
		             
	                   {% for produit in produits %}
							
                            <div class="media-box" style="padding-bottom: 10px;padding-top: 10px;">
                                
                                
                               <img width="200px" height="250px"  src="{{ produit.image }}" alt="{{ produit.titre }}"  />
                                <a href="{{ path('moteur_produit_affiche', {'id': produit.id}) }}">{{ produit.titre }}</a>
                                <div class="media-body">
                                  
                                  {% if produit.visites  is defined %}  {{ produit.visites }}   {% endif %}
                                </div>
                            </div>
                                
			    {% endfor %}
		              
		             </table>
	             </div>
			</div>
     
	
</div>
{% endblock %}
