{% extends "::base.html.twig" %}

{% block body %}
<div class="span9" id="">
	<h1>Recherche parmi les produits visités</h1>

	<p>
	Recherche : {{ requete }}
	</p>
	
	<table>
		<tr>
			<th>Titre</th>
			<th>Auteur</th>
			<th>Score</th>
		</tr>
		{% for produit in resultats %}
		<tr>
			<td><a href="http://localhost/moteur_emotionnel/path/web/app_dev.php/produits/affiche/{{ produit.produit_id }}">{{ produit.titre }}</a></td>
			<td>{{ produit.auteur }}</td>
			<td>{{ produit.score }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}